
  .container {
    width: 95%;
    height: 80vh;
    position: absolute;
    margin: 0 auto;
    display: flex;
    align-items: center;
    
  }
  
  .container_login {
    width: 100%;
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    text-align: center;

  }

  .login_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 1.75rem;
    border-radius: 8px;
    gap: 15px;
    background-color: var(--cinza-background);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 3px 8px;
  }
  
  .login_form_title {
    margin-bottom: 45px;
    color: var(--laranja-principal);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .wrap_input {
    width: 100%;
	  padding: .4em .5em;
  	border: 1px solid var(--cor-laranja);
  	border-radius: .2em;
    text-align: start;
  }

  .wrap_input:focus {
    outline: none;
    border: 1px solid var(--laranja-principal);
  }
  
  .wrap_input:invalid {
    border: 1px solid var(--cor-erro-input);
  }

.error .login {
  border: 2px solid red;
  background-color:rgba(255, 0, 0, 0.357);
}
  
.input {
   font-size: 15px;
    color: var(--branco);
    width: 28rm;
    padding: 15px;
    height: 80px;
    outline: none;    
    background-color: transparent;   
}
  
.user_input{
  display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--branco);
	border: 1px solid var(--laranja-principal);
	padding-right: 5px;
	width: 100%;
}

  .label_input {
    width: 100%;
    font-weight: 300;
    margin-bottom: -.1em;
    margin-top: .5em;
    font-size: .8em;	  
  }

  .login {
    width: 100%;
    padding: .4em .5em;
    border-radius: .2em;
    border: 1px solid var(--laranja-principal);
    background-color: var(--branco);
  }

  .login:focus{
    outline: none;
	  border: 1px solid var(--laranja-principal);
  }

  .login:invalid{
    border: var(--cor-erro-input)
  }

  .input_register {
    width: 100%;
    padding: .4em .5em;
    border: 1px solid var(--cor-laranja);
    border-radius: .2em;
    background-color: var(--branco);
    }
  
  .input_register:focus {
    outline: none;
    border: none;
  }
  
  .input_register:invalid {
    border: 1px solid var(--cor-erro-input);
  }
      
  .container_login_form_btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
  }
  
  .login_form_btn {
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 4px;
    color: var(--branco);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 206px; 
    height: 40px; 
    background: var(--laranja-principal);    
    cursor: pointer;
    margin-bottom: 10px;
  }

.login_form_btn:hover {
    background: var(--branco);
    color: var(--laranja-principal);  
    border: 1px solid var(--laranja-principal);   
  }

.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  
.log {
    display: flex;    
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.question {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;    
    color: var(--preto-total);
    
}

.register {
  color: var(--laranja-principal);
  font-size: 18px;
  
}